<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.et.lesson5.xml.StudentMapper">
  
  
  	<cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true" type="自定义实现类的路径"> 
  		
  	
  	</cache>

  	<select id="queryStudentBySid" resultType="map" useCache="true">
  		select * from student where sid=#{0}				
  	</select>

  		
</mapper>
