<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">






<mapper namespace="cn.et.lesson3.sql.FoodInter">
  
  
  <sql id="commonSql">
  	select * from 
  </sql>
  
  <select id="selectFoodByFoodName" resultType="map">    
     <include refid="commonSql"></include> foods where foodname like '%${a}%'
  </select>


  
  
</mapper>
